@import url(http://fonts.googleapis.com/css?family=Allerta+Stencil);
@import url(http://fonts.googleapis.com/css?family=Poiret+One);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,500);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700);
header {
  height: 65px;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 11;
  z-index: 5;
}
header img {
  width: 139px;
  height: 139px;
}
header nav {
  position: absolute;
  top: 0px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  font: 23px/60px "Raleway" #404040;
}
header nav a,
header nav a:active,
header nav a:focus {
  display: inline-block;
  font: 23px/60px "Raleway" #404040;
  padding-right: 25px;
}
.intro {
  height: 800px;
  width: 100%;
  background-image: url(../img/jagged.png);
  background-size: cover;
  overflow: hidden;
  background-repeat: none;
  position: absolute;
  top: -20%;
  left: 0px;
  font-size: 60px;
  line-height: 40px;
  font-family: "Poiret One";
  color: #ffffff;
  z-index: 3;
}
.intro #intro-text {
  text-align: center;
  padding-top: 350px;
}
.intro h1 {
  font-size: 60px;
  color: #cc6666;
  display: inline-block;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}
.intro h2 {
  font-size: 60px;
  line-height: 40px;
  font-family: "Allerta Stencil";
  color: #cc6666;
  display: inline-block;
  margin-left: 170px;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}
#about {
  position: absolute;
  top: 647px;
  height: 500px;
  left: 0px;
  width: 100%;
  background-color: #fff7ee;
  border-top: 15px solid black;
  border-bottom: 5px solid black;
}
#about #logo-divider {
  margin-left: auto;
  margin-right: auto;
  margin-top: -50px;
  width: 220px;
  z-index: 10;
}
