@import url(http://fonts.googleapis.com/css?family=Allerta+Stencil);
@import url(http://fonts.googleapis.com/css?family=Poiret+One);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,500);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700);
.container {
  background-color: white;
  margin-top: 20px;
}
.container h5 {
  text-align: center;
  font-family: "Poiret One";
  font-size: 30pt;
}
hr {
  width: 80%;
  color: black;
  height: 3px;
}
.page_container {
  padding-top: 50px;
}
.flexslider {
  margin-top: 18px;
  margin-right: 10px;
  width: 650px;
  float: right;
  text-align: center;
}
.flexslider img {
  margin-left: auto;
  margin-right: auto;
  height: 400px;
  width: auto;
}
.item {
  height: 500px;
  padding: 5px;
}

.item a{
  margin: 0;
}
.projects-container {
  position: relative;
  margin-top: 100px;
  height: auto;
  background-color: white;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  color: black;
}
.projects {
  height: 400px;
  background: none;
}
