html, body {
	width: 100%;
	margin: 0;
	font-family: 'Open Sans';
}

.row-centered {
	text-align:center;
}
.col-centered {
	display:inline-block;
	float:none;
	text-align:left;
	margin-right:-4px;
}

.working {
	background-color: #ededed;
	padding: 10px;
	margin-bottom: 10px;
}

.image img {
	width: 200px;
	height: 160px;
	border: 8px solid #DDD;
	margin-right: 1em;
	margin-bottom: 1em;
	border-radius: 1px;
}

