<!doctype html>
<html ng-app="portfolio">
	<head>
		<meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <meta name="author" content="Linnea Watson">
	    <meta name="description" content="Linnea Watson's Portfolio">

		<title>Linnea Watson</title>
        <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">-->
        
        <!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

		<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>
		<script type="text/javascript" src="js/jquery.flexslider.js">

		</script>
		<script src="js/jquery.fitvid.js"></script>
		<script type="text/javascript" src="js/shCore.js"></script>
	<script type="text/javascript" src="js/shBrushXml.js"></script>
	<script type="text/javascript" src="js/shBrushJScript.js"></script>

  <!-- Optional FlexSlider Additions -->
    <script src="js/froogaloop.js"></script>
	<script src="js/jquery.fitvid.js"></script>
	<script src="js/demo.js"></script>
		<link rel="stylesheet" href="css/flexslider.css">

		<!-- Latest compiled and minified JavaScript -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
		<script type="text/javascript" src="js/app.js"></script>
        <link rel="icon" href="images/logo.png">
        <link rel="stylesheet" type="text/css" href="css/main.css">
	</head>
	<body ng-controller="PortfolioController as portfolio">
		<div class="container">
			<div class="row">
				<header>
					<img src="images/logo.png">
					<nav>
						<a href="/index.html">Home</a>
						<a href="">Portfolio</a>
						<a href="">Resumé</a>
						<a href="">Contact</a>
					</nav>
				</header>
			</div>
			<div class="page_container"><!--
					<div class="projects" ng-repeat="example in portfolio.examples">
						<div class="main">
							<div id="immersive_slider" ng-repeat="image in example.images">	
								<div class="slide" data-blurred="{{image.img}}">-->
									<!--<div class="row">
										<div class="col-md-3"><h1>Links</h1></div>
										<div class="col-md-6">
											<img src="{{image.img}}" style="float:right; height: 300px;">
										</div>
										<div class="col-md-3">
											<h1> {{example.name}}</h1>
											{{example.description}}
										</div>
									</div>-->
									<!--<img ng-src="{{image.img}}">
								</div>
			    				<a href="#" class="is-prev">&laquo;</a>
			    				<a href="#" class="is-next">&raquo;</a>
							</div>
							<p>
						</div>
					</div>
				</div>-->
    			<div class="row">
    	<h5>Portfolio</h5>
    	<hr>
    	<div class="item">
    		<div class="col-md-5">
	    		<h1>Group Up</h1>
	      		Group up description. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	      		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	      		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	      		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	      		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	      		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

	      		<a href="https://www.dropbox.com/s/51infv5b5vem83y/Group%20Up%20Documentation.docx?dl=0" class="btn btn-primary btn-sm"></a>
	      	</div>
	      	<div class="flexslider col-md-7">
		      	<ul class="slides">
			    	<li>
			        	<img src="img/groupupboth.png" style="height: 400px; width: 640px;" alt="Slider 1">
			      	</li>
			    	<li>
			        	<img src="img/groupuphome.png" style="height: 400px; width: auto;" alt="Slider 1">
			      	</li>
			    	<li>
			        	<img src="img/groupuploggedin.png" style="height: 400px; width: auto;" alt="Slider 1">
			      	</li>
			      	<li>
			      	
			      		<iframe id="player_1" src="https://www.youtube.com/embed/uoTyqDk1n0A" width="500" height="310" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
			      		<!--
			      		<iframe id="player_1" src="http://player.vimeo.com/video/126817694?api=1&player_id=player_1" width="500" height="300" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>-->
			      	</li>
		        </ul>
	      	</div>
	     </div>
	     <hr>
	     <div class="item">
	     	<div class="col-md-5">
	    		<h1>Dub Design</h1>
	      		Dub Design description. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	      		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	      		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	      		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	      		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	      		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	      	</div>
	      	<div class="flexslider col-md-7">
		      	<ul class="slides">
			    	<li>
			        	<img src="img/dubdesign1.png" style="height: 400px; width: auto;" alt="Slider 1">
			      	</li>
			    	<li>
			        	<img src="img/dubdesign2.png" style="height: 400px; width: auto;" alt="Slider 1">
			      	</li>
		        </ul>
	      	</div>
	    </div>
	    <hr>
	    <div class="item">
	     	<div class="col-md-5">
	    		<h1>Mobile App Design</h1>
	      		Dub Design description. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	      		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	      		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	      		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	      		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	      		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	      	</div>
	      	<div class="flexslider col-md-7">
		      	<ul class="slides">
			    	<li>
			        	<img src="img/mobile/prototypes1.png" alt="Slider 1">
			      	</li>
			    	<li>
			        	<img src="img/mobile/prototypes2.png" alt="Slider 2">
			      	</li>
			      	<li>
			        	<img src="img/mobile/prototypes3.png" alt="Slider 3">
			      	</li>
			      	<li>
			        	<img src="img/mobile/prototypes4.png" alt="Slider 4">
			      	</li>
		        </ul>
	      	</div>
	     </div>
	    <hr>
	    <div class="item">
	     	<div class="col-md-5">
	    		<h1>MammaRo Revamp</h1>
	      		Dub Design description. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	      		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	      		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	      		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	      		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	      		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	      	</div>
	      	<div class="flexslider col-md-7">
		      	<ul class="slides">
			    	<li>
			        	<img src="img/mammaro/beforeafter.png" style="height: 400px; width: auto;" alt="Slider 1">
			      	</li>
			    	<li>
			        	<img src="img/mammaro/before1.png" style="height: 400px; width: auto;" alt="Slider 1">
			      	</li>
			      	<li>
			        	<img src="img/mammaro/vitavera1.png" style="height: 400px; width: auto;" alt="Slider 1">
			      	</li>
			      	<li>
			        	<img src="img/mammaro/before2.png" style="height: 400px; width: auto;" alt="Slider 1">
			      	</li>
			      	<li>
			        	<img src="img/mammaro/vitavera2.png" style="height: 400px; width: auto;" alt="Slider 1">
			      	</li>
		        </ul>
	      	</div>
	     </div>

    	</div>
	</div>
	<div class="benefits">
    	<div class="page_container">
	   
	  </div>
	</div>
	
			</div>
			<!--<div>Icons made by <a href="http://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>             is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div>-->
		</div>
	</body>
	<script defer src="../jquery.flexslider.js"></script>

  <script type="text/javascript">
    $(function(){
      SyntaxHighlighter.all();
    });
    $(window).load(function(){

      // Vimeo API nonsense
      var player = document.getElementById('player_1');
      $f(player).addEvent('ready', ready);

      function addEvent(element, eventName, callback) {
        (element.addEventListener) ? element.addEventListener(eventName, callback, false) : element.attachEvent(eventName, callback, false);
      }

      function ready(player_id) {
        var froogaloop = $f(player_id);

        froogaloop.addEvent('play', function(data) {
          $('.flexslider').flexslider("pause");
        });

        froogaloop.addEvent('pause', function(data) {
          $('.flexslider').flexslider("play");
        });
      }


      // Call fitVid before FlexSlider initializes, so the proper initial height can be retrieved.
      $(".flexslider")
        .fitVids()
        .flexslider({
          animation: "slide",
          useCSS: false,
          animationLoop: false,
          smoothHeight: true,
          start: function(slider){
            $('body').removeClass('loading');
          },
          before: function(slider){
            $f(player).api('pause');
          }
      });
    });
  </script>
</html>